*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body{
    font-family: "Poppins", sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

main:after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: linear-gradient(90deg, rgba(0,0,0,0.6363795518207283) 5%, rgba(0,0,0,0.5887605042016807) 55%, rgba(0,0,0,0.8464635854341737) 100%);
    z-index: -1;
}

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

/* .informacoes{
    
} */

.informacoes .logo{
    max-width: 350px;
    /* filter: invert(1); */
    margin-bottom: 3rem;
    line-height: 30px;
}


.informacoes p{
    width: 30%;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 2rem;
}

.botoes{
    display: flex;
    justify-content: center;
    gap:30px;
}

.botoes .botao{
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff;
}

.botoes .botao.selecionado{
    background-color: black;
}

.menu-lateral{

    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral .icone{
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-lateral .icone:hover{
    transform: scale(1.2);
}

.carrossel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carrossel .imagem{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: mudarImagem 0.7s;
}

.carrossel .imagem.ativa{
    display: block;
}

@keyframes mudarImagem{
    from{
    opacity: 0.85;
    }
    to{
    opacity: 1;
    }
}
